body{
    margin: 10px;
    padding: 20px;
}   
.card{
    background-color: rgb(2, 2, 87);
    padding: 20px;
    border-radius: 15px;
}

h1{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white; 
}

#formTodo{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#inputTask{
    flex: 2;
}

#inputDate{
    flex: 1;
}

li{
    color: white;
    margin-bottom: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    border-color: #ccc;
        border-width: 1px;
        border-style: solid;
        padding: 10px;
        border-radius: 5px;
}

#btnTambahTodo{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.labelStatus{
    color: yellow;
    font-size: 1em;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}

.progressStatus{
    color: yellow;
}

.doneStatus{
    color: green;
}
.btnEdit{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.btnDelete{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.btnEdit:hover{
    background-color: darkblue;
}
.btnDelete:hover{
    background-color: darkred;
}
#btnTambahTodo:hover{
    background-color: darkgreen;
}