body{
    margin: 10px;
    padding: 20px;
}   
.card{
    background-color: rgb(2, 2, 87);
    padding: 20px;
    border-radius: 15px;
}

h1{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white; 
}

#formTodo{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
}

#inputTask{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#inputDate{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    list-style: none;
    padding: 15px;
}

#btnTambahTodo{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.labelStatus{
    color: yellow;
    font-size: 1em;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}

.progressStatus{
    color: yellow;
}

.doneStatus{
    color: green;
}
.btnEdit{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}